.footer {
    color: white !important;
    .title,
    h6 {
        font-size: 22px;
        font-weight: bold;
        line-height: 37px;
        color: white !important;
    }
    .col-lg-auto {
        flex: 1;
    }
}