#sticky {
    height: 60px;
    @media (max-width: 991.98px) {
        position: fixed;
        padding: 0;
    }
    .container {
        max-width: 100vw;
    }
    .logo {
        img {
            width: 200px;
            height: 60px;
            @media (max-width: 992px) {
                width: 20vw;
                height: 6vw;
            }
        }
    }
    .navbar-nav {
        width: 100%;
        .nav-item {
            margin-left: 25px;
            margin-right: 25px;
            @media (max-width: 1200px) {
                margin-left: 8px;
                margin-right: 8px;
            }
            .nav-link {
                margin-top: 3px;
                line-height: 35px;
                border-radius: 10px;
                &:hover {
                    background-color: #807272;
                }
                &.active {
                    background-color: #343232;
                    color: white !important;
                    @media (min-width: 992px) {}
                }
            }
        }
    }
    .login_btn {
        width: 160px;
        height: 38px;
        background: #0E0626;
        color: white;
        border: 1px solid #BFBFC5;
        border-radius: 60px;
        padding: 0;
        &:hover {
            background-color: #3b2886;
        }
    }
    @media (max-width: 992px) {
        .navbar-toggler.collapsed {
            order: 3;
            &~.login_btn {
                display: none;
            }
        }
        .login_btn {
            margin-top: 10px;
            margin-left: auto;
        }
    }
}